* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;

}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.active {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.active1 {
    color: black;
    font-weight: bold;
}

.active2 {
    color: black;
    font-weight: bold;
}

.active3 {
    color: black;
    font-weight: bold;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1556056504-5c7696c4c28d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1276&q=80);
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 250px;
    height: 4px;
    background: #d52222;
    margin: 10px auto;
    border-radius: 5px;

}

.header {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;

}

.ctn {
    padding: 8px 15px;
    background: #d52222;
    border-radius: 30px;
    color: whitesmoke;
}